In [2]:
x = "amie"
print(x[0:-1])

ami

In [3]:
x.index('i')

2

In [7]:
p = ["amie", "janet", "susan", "ayo", "bola"]
index_val = p.index("ayo")
y_val = p[index_val+1:]
print(y_val)

['bola']

In [8]:
z_val = p[index_val]
print(z_val)

ayo

In [10]:
d = ["juan", "kate", "mitchel", "funmi", "angel", "ada", "lola", "joy"]
count_avg = int(len(d)/2)
new_count_avg = count_avg - 1
print(count_avg)
print(new_count_avg)

if len(d)%2 != 0:
    print(d[count_avg])
else:
    med_val = d[count_avg]
    val_med = d[new_count_avg]
    print(f"{med_val} and {val_med}")

4
3
angel and funmi

In [12]:
arr1 = [3, 6, "jane", "bella"]
arr2 = ["tola", "madu"]
for i in arr2:
    arr1.append(i)
print(arr1)
#arr1.append(arr2)
#print(arr1)

[3, 6, 'jane', 'bella', 'tola', 'madu']

In [13]:
print(arr1 + arr2)

[3, 6, 'jane', 'bella', 'tola', 'madu', 'tola', 'madu']

In [14]:
r_names = []
array1 = ["teni", "tiwa", "tems", "rihanna"]
for i in array1:
    if i[0] == "r":
        r_names.append(i)
print(r_names)

['rihanna']

In [25]:
array_names = ["jacob", "obi", "moses", "victor"]
for i in array_names:
    cap_names = i[0].upper() + i[1:]
    print(cap_names)

Jacob
Obi
Moses
Victor

In [26]:
new_surnames = []
for i in array_names:
    cap_names = i[0].upper() + i[1:]
    new_surnames.append(cap_names)
print(new_surnames)

['Jacob', 'Obi', 'Moses', 'Victor']

In [35]:
cap_array1 = []
array1 = ["teni", "tiwa", "tems", "rihanna"]
for i in array1:
    array1_cap_names = i[0].upper() + i[1:]
    cap_array1.append(array1_cap_names)
print(cap_array1)
 #make the surnames capital

['Teni', 'Tiwa', 'Tems', 'Rihanna']

In [36]:
for i in range(0, len(array1)):
    fullnames = f"{new_surnames[i]} {cap_array1[i]}"
    print(fullnames)

Jacob Teni
Obi Tiwa
Moses Tems
Victor Rihanna

In [29]:
ele = ["hannah", "shalom", 10, 15, "design"]
for i in ele:
    test = isinstance(i, str)
    if test == True:
        print(i)

hannah
shalom
design

In [30]:
type("hannah")

str

In [31]:
for i in ele:
    p = type(i)
    if p == int:
        print(i)

10
15

In [34]:
new_list = []
d = ["juan", 10, "mitchel", "funmi", "angel", "ada", "lola", "joy"]
for i in d:
    k = type(i)
    if k == str:
        new_list.append(i)
        
if len(new_list) == len(d):
    print("yes they are all strings!")
else:
    print("No they are not all strings!")

No they are not all strings!